<h3>Create User</h3>
<div class="panel panel-default" ng-controller="UsersCreateCtrl">
	<div class="panel-body">
		<form role="form" name="form" novalidate>
			<div class="form-group" show-errors='{showSuccess: true}'>
				<label class="control-label">User Name</label>
				<input 
					name="userName"
					required
					ng-minlength="5"
					ng-model="user.userName"
					placeholder="Enter User Name"
 					type="text"
					class="form-control" 
					id="userName" 
				/>
				<p class="help-block" ng-if="form.userName.$error.minlength">User Name must be at least 5 character long.</p>
			</div>
			<div ng-show="passwordMismatch" class="alert alert-danger" role="alert">
				<b>Error.</b> Passwords must match.</div>
			<div class="form-group" show-errors='{showSuccess: true}'>
				<label class="control-label">Password</label>
				<input 
					name="password"
					required
					ng-minlength="5" 
					ng-model="user.password" 
					type="password" 
					class="form-control" 
					id="password" 
					placeholder="Enter new User's password"
				/>
				<p class="help-block" ng-if="form.password.$error.minlength">Password must be at least 5 character long.</p>
			</div>
			<div class="form-group" show-errors='{showSuccess: true}'>
				<label class="control-label">Re-Enter Password</label>
				<input 
					name="password2"
					required 
					ng-minlength="5" 
					ng-model="user.password2" 
					type="password" 
					class="form-control" 
					id="password2" 
					placeholder="Re-Enter User's password"
				/>
			</div>
			<hr>
			<button ng-click="create(user)" class="btn btn-default btn-block">Submit</button>
		</form>
	</div>
</div>
